<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/shreeji/POMEXAMPLE/hybridExamples/src/test/java/testCase">
       <parameter name="browser" value="chrome">

       </parameter>
        <classes>
            <class name="testCase.TC_001_Registration">
            <methods><include name="accountRegistration"/></methods>
            </class>
        </classes>
    </test>
</suite>